[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Littlelambocoin-Network/mozilla-ca.git
        branch = main
[submodule "littlelambocoin-blockchain-gui"]
	path = littlelambocoin-blockchain-gui
	url = https://github.com/zcomputerwiz/littlelambocoin-blockchain-gui
